:root {
  --color-primary: rgb(130, 191, 211);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
button {
  width: 50%;
  padding: 10px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
}
.container {
  position: relative;
}
.mainContainer {
  width: 50vw;
  height: 100vh;
  border-radius: 5px;
  border: 0.5px solid var(--color-primary);
}

.username {
  font-weight: bold;
  color: var(--color-primary);
  position: absolute;
  top: 15px;
  right: 20px;
}
